TELEGRAM_BOT_TOKEN=8718958949:AAEfJT7src39KzO8naz7rShwAm4njBcnvww
DATABASE_PATH=bot.db
LOG_LEVEL=INFO  #logger.py глушит лишние библиотеки (urllib3, aiogram.event) до WARNING независимо от LOG_LEVEL
DEBUG=false